In [23]:
import pandas as pd

In [24]:
sample = pd.Series(["수용", "윤", "청주", "예비군"], index=["이름", "성", "주소", "학년"])
sample

이름     수용
성       윤
주소     청주
학년    예비군
dtype: object

In [25]:
sample["주소"]

'청주'

In [26]:
sample2 = pd.Series([3.0, 2])
sample2

0    3.0
1    2.0
dtype: float64

In [27]:
sample.apply(type)

이름    <class 'str'>
성     <class 'str'>
주소    <class 'str'>
학년    <class 'str'>
dtype: object

In [32]:
# 예시: 데이터 프레임 생성
data = {
    '이름': ['철수', '영희', '민수'],
    '나이': [25, 30, 35],
    '직업': ['학생', '회사원', '프리랜서']
}

df = pd.DataFrame(data)
df

   이름  나이    직업
0  철수  25    학생
1  영희  30   회사원
2  민수  35  프리랜서

In [33]:
df['이름'][0]

'철수'

In [35]:
df.set_index('이름')

    나이    직업
이름
철수  25    학생
영희  30   회사원
민수  35  프리랜서

In [36]:
df

   이름  나이    직업
0  철수  25    학생
1  영희  30   회사원
2  민수  35  프리랜서

In [30]:
df.set_index('이름', inplace=True)  # inplace=True가 있어야 변경된 값으로 df에 덮어쓰기
df

    나이    직업
이름
철수  25    학생
영희  30   회사원
민수  35  프리랜서

In [40]:
ages = df['나이']
print(ages)
print(type(ages))

0    25
1    30
2    35
Name: 나이, dtype: int64
<class 'pandas.core.series.Series'>

In [43]:
ages_jobs = df[['나이', '직업']]
print(ages_jobs)
print(type(ages_jobs))

   나이    직업
0  25    학생
1  30   회사원
2  35  프리랜서
<class 'pandas.core.frame.DataFrame'>